<h1><%= @list.title %></h1>

<h2>Tasks</h2>
<ul>
  <% @list.tasks.default.each do |task| %>
    <li><h5><%= task.title %></h5>
      <p>
      Start Date: <%= task.start_date %>
      <br>
      Due Date: <%= task.due_date %>
      </p>
      <p>Mark as Complete?</p>
      <%= link_to "Edit", edit_list_task_path(@list, task.id) %>
    </li>
  <% end %>
</ul>

<h4>Hidden Tasks:</h4>
Completed: <input type="checkbox" value="completed" id="completed">
Future: <input type="checkbox" value="future" id="future">
<div class="complete-tasks hidden">
  <h5>Completed Tasks</h5>
  <ul>
    <% @list.tasks.completed.each do |task| %>
      <li><h5><%= task.title %></h5>
        <p>
        Start Date: <%= task.start_date %>
        <br>
        Due Date: <%= task.due_date %>
        </p>
        <p>Mark as incomplete?</p>
        <%= link_to "Edit", edit_list_task_path(@list, task.id) %>
      </li>
    <% end %>
  </ul>
</div>
<div class="future-tasks hidden">
  <h5>Future Tasks</h5>
  <ul>
    <% @list.tasks.future.each do |task| %>
      <li><h5><%= task.title %></h5>
        <p>
        Start Date: <%= task.start_date %>
        <br>
        Due Date: <%= task.due_date %>
        </p>
        <p>Mark as complete?</p>
        <%= link_to "Edit", edit_list_task_path(@list, task.id) %>
      </li>
    <% end %>
  </ul>
</div>
<%= link_to "New Task", new_list_task_path(@list) %>
<%= link_to "Back to All Lists", root_path %>