<h1><%= @list.title %></h1>
<%= link_to "New Task", new_list_task_path(@list), class: 'btn' %><br>
Filter title: <input type="text" id="title-search"><br>
Filter Start Date: <input type="text" id="start-date-search"><br>
Filter Due Date: <input type="text" id="due-date-search"><br>
Sort By:<br>
<button class="btn" id="title-sort">Title</button>
<button class="btn" id="due-date-sort">Due Date</button>
<ul id="all-tasks">
  <h5>Hidden Tasks:</h5>
  <button class="btn" id="completed">Completed</button>
  <button class="btn" id="future">Future</button>
  <% @list.tasks.completed.each do |task| %>
    <li class="task complete-tasks hidden" data-title="<%= task.title %>" data-start="<%= task.start_date.to_formatted_s(:long) %>" data-due="<%= task.due_date.to_formatted_s(:long) %>"><h5><%= task.title %></h5>
      <p>
      Start Date: <%= task.start_date.to_formatted_s(:long) %>
      <br>
      Due Date: <%= task.due_date.to_formatted_s(:long) %>
      </p>
      <%= image_tag task.image.url %><br>
      <button class="toggle-status btn" data-id="<%= task.id %>">Incomplete?</button>
      <button class="delete-image btn" data-id="<%= task.id %>">Delete Image?</button>
      <%= link_to "Edit", edit_list_task_path(@list, task.id), class: 'btn' %>
    </li>
  <% end %>
  <% @list.tasks.future.each do |task| %>
    <li class="task future-tasks hidden" data-title="<%= task.title %>" data-start="<%= task.start_date.to_formatted_s(:long) %>" data-due="<%= task.due_date.to_formatted_s(:long) %>"><h5 class="title"><%= task.title %></h5>
      <p>
      Start Date: <%= task.start_date.to_formatted_s(:long) %>
      <br>
      Due Date: <%= task.due_date.to_formatted_s(:long) %>
      </p>
      <%= image_tag task.image.url %><br>
      <button class="toggle-status btn" data-id="<%= task.id %>">Complete?</button>
      <button class="delete-image btn" data-id="<%= task.id %>">Delete Image?</button>
      <%= link_to "Edit", edit_list_task_path(@list, task.id), class: 'btn' %>
    </li>
  <% end %>
  <% @list.tasks.default.each do |task| %>
    <li class="task" data-title="<%= task.title %>" data-start="<%= task.start_date.to_formatted_s(:long) %>" data-due="<%= task.due_date.to_formatted_s(:long) %>" data-id="<%= task.id %>"><h5 class="title"><%= task.title %></h5>
      <p>
      Start Date: <%= task.start_date.to_formatted_s(:long) %>
      <br>
      Due Date: <%= task.due_date.to_formatted_s(:long) %>
      </p>
      <%= image_tag task.image.url %><br>
      <button class="toggle-status btn" data-id="<%= task.id %>">Complete?</button>
      <button class="delete-image btn" data-id="<%= task.id %>">Delete Image?</button>
      <%= link_to "Edit", edit_list_task_path(@list, task.id), class: "btn" %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to All Lists", root_path, class: 'btn' %>