<h1>Edit Task</h1>

<%= form_for @task, url: list_task_path(params[:list_id], @task.id) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
  <%= f.label :start_date %>
  <%= f.date_field :start_date %>
  <%= f.label :due_date %>
  <%= f.date_field :due_date %>
  <%= f.label(:complete, "True")%>
  <%= f.radio_button(:complete, true) %>
  <%= f.label(:complete, "False")%>
  <%= f.radio_button(:complete, false) %>
  <%= f.file_field :image %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to List", list_path(params[:list_id]) %>